<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.katsuna.keyboard">

    <compatible-screens>
        <!-- all normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="mdpi" /> <!-- 160 -->
        <screen android:screenSize="normal" android:screenDensity="hdpi" /> <!-- 240 -->
        <screen android:screenSize="normal" android:screenDensity="280" /> <!-- Workaround -->
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />  <!-- 320 -->
        <screen android:screenSize="normal" android:screenDensity="360" /> <!-- Workaround -->
        <screen android:screenSize="normal" android:screenDensity="420" /> <!-- Workaround Google Pixel, Nexus 5x -->
        <screen android:screenSize="normal" android:screenDensity="xxhdpi" /> <!-- 480 -->
        <screen android:screenSize="normal" android:screenDensity="560" /> <!-- Workaround Google Pixel XL, Nexus 6, Nexus 6P -->
        <screen android:screenSize="normal" android:screenDensity="xxxhdpi" /> <!-- 640 -->
    </compatible-screens>

    <uses-permission android:name="com.katsuna.services.datastore.permission.preferences" />

    <uses-sdk android:minSdkVersion="8"  android:targetSdkVersion="8" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.katsuna.keyboard.ui.MainActivity" />

        <activity
            android:name="com.katsuna.keyboard.ui.ImePreferences"
            android:label="@string/settings_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name="com.katsuna.keyboard.ui.SoftKeyboard"
            android:label="@string/simple_ime"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

    </application>

</manifest>